.container{
    display: grid;
    grid-template-columns: 270px auto;
    grid-template-areas: 
    'img inp'
    'des des';
    gap: 20px;
}

.img{
    grid-area: 'img';
}

.imagem{
    width: 250px;
    height: 250px;
    border: 1px solid rgb(124, 124, 124);
}

.inp{
    grid-area: 'inp';
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
}

.input{
    height: 30px;
}

.des{
    grid-area: 'des';
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.area{
    width: 85vw;
    height: 180px;
    margin-bottom: 15px;
}

.botao{
    display: flex;
    justify-content: center;
}
